.movie-card {
  margin: 4% 0 0 5%;
  &:hover {
    box-shadow: 0 10px 20px 10px rgba(black, 0.2);
  }
  a:hover {
    text-decoration: none;
  }
  .ant-card-meta-title:hover {
    color: blueviolet;
  }
}

.movie-info {
  #title {
    margin: 0% 0 0 25%;
  }
  #movie-overview {
    font-family: Arial, Helvetica, sans-serif;
  }
  .movie-details {
    margin-top: 2%;
  }
  #production-company {
    width: 70px;
    padding-left: 0;
    padding-right: 30px;
  }
}

.related-movies {
  margin-top: 0px;
  width: 95%;
  margin-left: 2.5%;
  #poster {
    width: 300px;
    border-radius: 5px;
  }
  .slick-prev:before,
  .slick-next:before {
    color: black;
  }
  .slick-prev:before {
    color: black;
  }
}
